#label{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.addpass{
    background:url('/src/assets/background.jfif');
    padding:1%;
}
.header
{
    margin-top: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: crimson;

}