#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.container{
    background:url('/src/assets/background.jfif');
    display: inline-block;
    /* padding-top: 5%; */

}
.w3-half{
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 5px;


}

.body{
    background-size:cover;
    padding-bottom:0px;
    margin-bottom: -150px;
}
#background
{
   
    width:100%;
    margin-left: 2px;
    height:750px;
    background-image: url("../../assets/background.jpg");
}
.omb_loginForm{
    margin-top: 15%;
}

.h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    
}
.p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}